				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
              {{ with .Site.Params.social.twitter }}
              <li><a href="https://twitter.com/{{ . }}" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
              {{ end }}
              {{ with .Site.Params.social.gitlab }}
              <li><a href="https://gitlab.com/{{ . }}" class="icon fa-gitlab"><span class="label">Facebook</span></a></li>
              {{ end }}
              {{ with .Site.Params.social.instagram }}
              <li><a href="https://instagram.com/{{ . }}" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
              {{ end }}
              {{ with .Site.Params.social.linkedin }}
              <li><a href="https://www.linkedin.com/in/{{ . }}" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
              {{ end }}
              {{ with .Site.Params.contact.email }}
              <li><a href="mailto:{{ . }}" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
              {{ end }}
              <!-- no phone
              {{ with .Site.Params.contact.phone }}
              <li><a href="tel:{{ . }}" class="icon fa-phone"><span class="label">Phone</span></a></li>
              {{ end }} -->

						</ul>
						<ul class="copyright">
              <li>&copy; {{ now.Year }} {{.Site.Params.copyright | safeHTML }}</li>
						</ul>
					</footer>

			</div>

      {{ partial "scripts.html" . }}

	</body>
</html>
